<br>
<br>

<div class ="container">


  <h3 class="card-title">
    <p class="text-center">Panel de administrador</p>
  </h3>

  <br>
    <div class="row">


        <div class="col-md-3">
          <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
            <div class="card-header"><p class="text-center">Administrar vehiculos</p></div>
            <div class="card-body">
              <img src="https://image.flaticon.com/icons/svg/741/741407.svg" class="card-img-top" alt="...">
            </div>
            <div class="card-footer">
              <a href="Admin/Vehiculos">
                <p class="text-center">acceder</p>
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
            <div class="card-header"><p class="text-center">Panel de mantenimiento</p></div>
            <div class="card-body">
              <img src="https://image.flaticon.com/icons/svg/1743/1743614.svg" class="card-img-top" alt="...">
            </div>
            <div class="card-footer">
              <a href="Admin/Mantenimiento">
                <p class="text-center">acceder</p>
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
            <div class="card-header"><p class="text-center">Puntos de parqueo</p></div>
            <div class="card-body">
              <img src="https://image.flaticon.com/icons/svg/1167/1167984.svg" class="card-img-top" alt="...">
            </div>
            <div class="card-footer">
              <a href="Admin/PuntosAsociados">
                <p class="text-center">acceder</p>
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
            <div class="card-header"><p class="text-center">Rentas</p></div>
            <div class="card-body">
              <img src="https://www.koi-nya.net/img/subidos_posts/2018/02/Hyperdimension-Neptunia-Re-Birth-1-Plus-anuncia-fecha-de-lanzamiento-en-Japon-730x914.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-footer">
              <a href="Admin/Rentas">
                <p class="text-center">acceder</p>
              </a>
            </div>
          </div>
        </div>



        <div class="col-md-3">
          <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
            <div class="card-header"><p class="text-center">Seguimiento de vehiculos</p></div>
            <div class="card-body">
              <img src="https://image.flaticon.com/icons/svg/854/854945.svg" class="card-img-top" alt="...">
            </div>
            <div class="card-footer">
              <a href="Admin/Seguimiento">
                <p class="text-center">acceder</p>
              </a>
            </div>
          </div>
        </div>
      </div>



</div>
